@{
    ViewData["Title"] = "Home Page";
}

<form asp-action="SortArray" method="post">
    <div class="container text-center" style="box-shadow: rgb(0 0 0 / 25%) 0px 4px 4px;">
        <div class="row" style="box-shadow: rgb(0 0 0 / 25%) 0px 4px 4px;">
            <div class="col-3"></div>
            <div class="col-6">
                <div class="card-header" style="background-color:darkblue">
                    <h2 style="color:whitesmoke">Ingrese 5 numeros por favor</h2>
                </div>
            </div>
            <div class="col-3"></div>
        </div>
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6">
                <label class="form-label">Numero 1</label>
                <input class="form-control" type="text" name="num1" />
            </div>
            <div class="col-3"></div>
        </div>
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6">
                <label class="form-label">Numero 2</label>
                <input class="form-control" type="text" name="num2" />
            </div>
            <div class="col-3"></div>
        </div>
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6">
                <label class="form-label">Numero 3</label>
                <input class="form-control" type="text" name="num3" />
            </div>
            <div class="col-3"></div>
        </div>
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6">
                <label class="label-control">Numero 4</label>
                <input class="form-control" type="text" name="num4" />
            </div>
            <div class="col-3"></div>
        </div>
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6">
                <label class="label-control">Numero 5</label>
                <input class="form-control" type="text" name="num5" />
            </div>
            <div class="col-3"></div>
        </div>
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6">
                <label class="label-control">ingrese un indice</label>
                <input class="form-control" type="text" name="indice" />
            </div>
            <div class="col-3"></div>
        </div><br />
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6">
                <button type="submit" class="btn btn-info">Calcular</button>
            </div>
            <div class="col-3"></div>
        </div>
        <br />
    </div>
</form>
<br />

@if (ViewBag.array != null)
{

<div class="container text-center text-white">

    <div class="row">
        <div class="col-2"></div><br /><br />
        <div class="col-4 bg-dark border">Numeros reordenados</div><br /><br />
        <div class="col-4 bg-dark border">Numeros orden inicial</div>
        <div class="col-2"></div>
    </div>
    @for (int i = 0; i < ViewBag.array.Length; i++)
    {
        <div class="row">
            <div class="col-2"></div>
            <div class="col-4 bg-secondary border">@ViewBag.array[i] </div><br /><br />
            <div class="col-4 bg-secondary border">@ViewBag.antiguo[i]</div><br /><br />
            <div class="col-2"></div>
        </div>
    }

        
    </div>
}
